<p class="alert alert-info text-break">
  The list below shows the errors reported by the application in the last 14 days and that have not been resolved yet.
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <% if @errors.each do |error| %>
  <tr>
    <td><a href="<%= error.permalink %>"><%= error.shortId %></a></td>
    <td><%= error.title %></td>
  </tr>
  <% end.empty? %>
  <tr>
    <td colspan="2">No errors found.</td>
  </tr>
  <% end %>
</table>