<h2><%= @question.consultation.title %></h2>
<h3>Pregunta #<%= @question.position %></h3>
<% if @question.description %>
  <div class="mb-3">
    <%= raw(@question.description) %>
  </div>
<% end %>
<%= render @question.status %>