<%= form_with url: sessions_path, class: 'row g-3' do |f| %>
  <%= f.label :token, class: 'col-auto col-form-label' %>
  <div class="col">
    <%= f.text_field :token, class: 'form-control', autofocus: '', autocomplete: 'off' %>
  </div>
  <%= f.submit 'Accedir', class: 'btn btn-primary' %>
<% end %>