<div class="alert alert-primary" role="alert">
  <p>Aquesta consulta està oberta però no té preguntes actives. Refresca quan la mesa t'ho indiqui.</p>
  <% if @current_user.voter? %>
    <%= link_to 'Refresca', { controller: 'events', action: 'next_question', id: @current_user.event.id }, class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>