<div class="alert alert-primary" role="alert">
  <% if @current_user.receipts.count == @consultation.questions.count %>
    You have answered all the questions.
  <% else %>
    <p>The consultation is open but there are no active questions. Try it again later.</p>
    <% if @current_user.voter? %>
      <%= link_to 'Refresh', { controller: 'events', action: 'next_question', id: @current_user.event_id }, class: 'btn btn-primary btn-lg' %>
    <% end %>
  <% end %>
</div>