<div class="alert alert-primary" role="alert">
  <% if @current_user.receipts.count == @consultation.questions.count %>
    This consultation has no more questions. Please wait for the consultation to close.
  <% else %>
    <p>This consultation is open but has no active questions. Try it later.</p>
    <% if @current_user.voter? %>
      <%= link_to 'Refresh', { controller: 'events', action: 'next_question', id: @current_user.event_id }, class: 'btn btn-primary btn-lg' %>
    <% end %>
  <% end %>
</div>