<div class="alert alert-primary" role="alert">
  <% if @current_user.receipts.count == @consultation.questions.count %>
    Ja has contestat totes les preguntes. Avui a les 23.59 h es tancarà la votació, i dimarts al matí es publicaran els resultats.
  <% else %>
    <p>La votació està oberta però no té preguntes actives. Prova més tard.</p>
    <% if @current_user.voter? %>
      <%= link_to 'Refrescar', { controller: 'events', action: 'next_question', id: @current_user.event_id }, class: 'btn btn-primary btn-lg' %>
    <% end %>
  <% end %>
</div>