<div class="card mt-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="col">
      <strong>Consultations</strong>
    </div>
    <div class="col-auto">
      <%= link_to 'Create consultation', { controller: :consultations, action: :new }, class: 'btn btn-link link-secondary' %>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <% @consultations.each do |consultation| %>
        <tr>
          <td><%= consultation.title %></td>
          <td><%= link_to 'Edit', { controller: :consultations, action: :edit, id: consultation.id }, class: 'btn btn-link py-0' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>