<div class="card mt-3">
  <div class="card-header">
    <ul class="nav">
      <li class="nav-item">
        <strong><a href="#" class="nav-link disabled">Preguntes</a></strong>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ordre</th>
          <th>Pregunta</th>
          <th></th>
        </tr>
      <thead>
      <% @event.consultation.questions.order(:weight).each do |question| %>
      <tr>
        <td><%= question.weight %></td>
        <td><%= question.description %></td>
        <td>
            <%= question_opener_closer_link(@event, question)  %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>