<div class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    <strong>Identificadors</strong>
  </div>
  <div class="card-body">
    <%= form_with url: { controller: :events, action: :generate_tokens }, class: 'row row-cols-auto g-3 align-items-center', local: true do |f| %>
      <div class="col">
         <%= f.text_field :total, class: 'form-control' %>
      </div>
      <div class="col">
        <%= f.submit 'Crear', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>