:root {
  --asembleo-primary: #0d6efd;
  --asembleo-primary-focus-shadow-rgb: 49, 132, 253;
  --asembleo-primary-rgb: 13, 110, 253;
  --asembleo-primary-shade-15: #0b5ed7;
  --asembleo-primary-shade-20: #0a58ca;
  --asembleo-primary-shade-25: #0a53be;
  --asembleo-primary-shifted-20: #0a58ca;
  --asembleo-primary-shifted-40: #084298;
  --asembleo-primary-shifted-down-70: #b6d4fe;
  --asembleo-primary-shifted-down-80: #cfe2ff;
  --asembleo-secondary: #6c757d;
  --asembleo-secondary-rgb: 108, 117, 125;
  --asembleo-secondary-shade-15: #5c636a;
  --asembleo-secondary-shade-20: #565e64;
  --asembleo-secondary-shade-25: #51585e;
  --asembleo-secondary-shifted-20: #565e64;
  --asembleo-secondary-shifted-40: #41464b;
  --asembleo-secondary-shifted-down-70: #202326;
  --asembleo-secondary-shifted-down-80: #161719;
  --asembleo-header-background-rgb: 33, 37, 41;
  --asembleo-header-color: #ffffff;
  --asembleo-footer-background-rgb: 248, 249, 250;
  --asembleo-footer-color: #6c757d; }
