<%= form_with scope: :vote, url: { controller: :votes, action: :create }, local: true do |f| %>
  <table class="table table-hover table-borderless">
    <tbody>
      <% @question.options.each do |option| %>
        <tr>
          <td>
            <div class="form-check form-control-lg m-3 ml-0">
              <%= render 'questions/booth/option', form: f, option: option %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% unless @question.draft? %>
    <%= f.submit 'Votar', class: 'btn btn-primary' %>
  <% end %>
<% end %>