<div class="card mt-3">
  <div class="card-header">
    <strong>Preguntes</strong>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ordre</th>
          <th>Pregunta</th>
          <th colspan="2"></th>
        </tr>
      <thead>
      <% @consultation.questions.order(:weight).each do |question| %>
      <tr>
        <td><%= question.weight %></td>
        <td><%= question.description %></td>
        <td><%= question_opener_closer_link(@event, question)  %></td>
        <% if question.closed? %>
          <td><%= link_to 'Resultats', { controller: :questions, action: :tally, id: question.id }, class: 'btn btn-link py-0' %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>