<h2><%= @current_user.consultation.title %></h2>
<div class="alert alert-primary" role="alert">
  <p><%= t('votes.casted') %></p>
  <p><%= t('votes.fingerprint', fingerprint: @receipt.fingerprint) %></p>
  <%= link_to 'Next', { controller: 'events', action: 'next_question', id: @current_user.event_id }, class: 'btn btn-primary btn-lg' %>
</div>
